<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    
</head>

<body>
    <h1><%= title %></h1>

    <% if ( user ) { %>
        <h2>Hello <%=user%> </h2>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    <% } %>

</body>
<script type="text/javascript" src="/example/example.client.module.
js"></script>
<script type="text/javascript" src="/js/angular/angular.js"></script>
<script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
</html>